@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.animateCards {
  animation: backInUp 2s forwards;
}

.animateLogin {
  animation: jackInTheBox 1s forwards;
}
